@tailwind base;
@tailwind components;
@tailwind utilities;
.grid.justify-items-center {
  justify-items: center !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.max-w-5xl {
  max-width: 64rem !important;
}